<div class="container">
  <div *ngFor="let item of data; let i = index">
    <h4 href="#" routerLinkActive="active" [routerLink]="['/user', item.userName]">{{item.userName}}</h4>
    <div class="card h-100" style="width: 12rem; margin-left: 1rem;">
      <h5 class="card-title">{{item.recepie.title}}</h5>
      <a href="#" routerLinkActive="active" [routerLink]="['/recpie', item.recepie.id]">
        <img style="border: 0;" class="card-img-top img-responsive" src="/assets/{{item.recepie.imageUrl}}" height="150" width="150" alt="{{item.imageName}}">
      </a>
    </div>
  </div>
</div>
