<div class="container">
  <div class="col-md-12 text-center">
    <h1>{{data.title}}</h1>
    <div class="row justify-content-center">
      <star-rating [rating]="data.averageRating" size="large" staticColor="ok" (starClickChange)="onClick($event)" [numOfStars]="5"></star-rating>
      ({{data.totalVotes}})
    </div>
    <div>
      <img src="/assets/{{data.imageUrl}}" class="img-responsive" style="width:80%" alt="{{data.imageName}}" />
    </div>
  </div>
  <br />
</div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Ingredients:</h3>
            <table class="table table-striped">
              <tbody>
                <tr *ngFor="let ingredient of data.ingridients;">
                  <th scope="row"></th>
                  <td>{{ingredient.content}}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="col-md-6">
            <h3>Instructions:</h3>
            {{data.content}}
      </div>
    </div>
    <br />
    <br />
  </div>
  <div class="float-lg-right">
    <b>Posted at:</b> {{ data.dateTime | date }} <br />
    <b>By user:</b> {{data.postedBy}} <br />
  </div>
