<div class="container">
  <div *ngIf="data.pictureUrl == null || data.pictureUrl == ''; else imageUrl">
    <img src="/assets/profilepicture/NoProfilePick.jpg" class="img-responsive" style="width:200px;height:150px;" />
  </div>
  <ng-template #imageUrl>
    <div>
      <img src="/assets/profilepicture/{{data.pictureUrl}}" class="img-responsive" style="width:200px;height:150px;" />
    </div>
  </ng-template>
  <form (ngSubmit)="saveProfilePicture()">
    <div class="form-group">
      <label for="picture">Upload Profile Picture</label>
      <br />
      <input type='file' name="file" (change)="onSelectFile($event)" ngModel>
    </div>
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save!</button>
    </div>
  </form>
</div>
<div class="container">
  <form (ngSubmit)="saveBioProfile()">
      <label for="content">Bio</label>
      <textarea class="form-control" [(ngModel)]="bio" rows="2" id="bio" name="bio" maxlength="150" placeholder="Write some short bio about yourself.."></textarea>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save!</button>
      </div>
    </form>
</div>
